.example-spacer 
  flex: 1 1 auto

.icon
    border: none
    background: none
    margin-right: 2%

.toolbar
    position: sticky
    position: -webkit-sticky
    top: 0
    z-index: 1000

.contact-us
  background-color: orange
  border-color: transparent
  padding-left: 15px
  padding-right: 15px
  border-radius: 25px
  
.link-decor
  text-decoration: none 
  font-size: small

::ng-deep .menu
  background-color: #f5f5f5