<mat-toolbar class="toolbar">
  <button mat-icon-button class="icon" aria-label="Example icon-button with heart icon">
    <span><a pageScroll href="#home" style="text-decoration: none; color: black;"><mat-icon svgIcon="logo"></mat-icon></a></span>
  </button>
    
    <span class="example-spacer"></span>
    
      <span class="icon"><a pageScroll href="#about" style="text-decoration: none; color: black; font-size: small;">ABOUT</a></span>
    
    
      <span class="icon"><a pageScroll href="#testimonials" style="text-decoration: none; color: black; font-size: small;">TESTIMONIALS</a></span>

      <span class="icon contact-us"><a pageScroll href="#contact-us" style="text-decoration: none; color: white; font-size: small;"> Demo Request</a></span>
    
    
  </mat-toolbar>