.example-spacer 
  flex: 1 1 auto

.icon
    border: none
    background: none
    margin-right: 1.25%

.toolbar
    position: sticky
    position: -webkit-sticky
    top: 0
    z-index: 1000

::ng-deep .mat-toolbar
  background: #ddedf3

.contact-us
  background-color: rgb(147, 36, 57)
  border-color: transparent
  padding: 5px 10px 5px 10px
  border-radius: 25px
  
.link-decor
  text-decoration: none 
  font-size: medium

::ng-deep .menu
  background-color: #ddedf3

.logout
  background-color: rgb(147, 36, 57)
  border-color: transparent
  padding-left: 15px
  padding-right: 15px
  text-decoration: none 
  font-size: small
  color: white