.example-spacer 
  flex: 1 1 auto

.icon
    border: none
    background: none
    margin-right: 1.25%

.toolbar
    position: sticky
    position: -webkit-sticky
    top: 0
    z-index: 10000

::ng-deep .mat-toolbar
  color: white
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  background-image: url('https://www.theamplituhedron.com/projects/How-to-make-a-scroll-menu-with-random-star-background-in-HTML/Pictures/1.JPG')
  font-family: 'Orbitron', sans-serif

.contact-us
  background-color: #ad8737
  border-color: transparent
  padding: 5px 10px 5px 10px
  border-radius: 25px
  
.link-decor
  color: white
  text-decoration: none 
  font-size: medium

::ng-deep .menu
  color: white
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  background-image: url('https://www.theamplituhedron.com/projects/How-to-make-a-scroll-menu-with-random-star-background-in-HTML/Pictures/1.JPG')
  font-family: 'Orbitron', sans-serif

.logout
  background-color: #ad8737
  border-color: transparent
  padding-left: 15px
  padding-right: 15px
  text-decoration: none 
  font-size: small
  color: white