<div class="footer-container">
    <div fxFlexFill style="height: 8.25em;" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" fxLayoutGap.lt-sm="8.5px">
  
        
        <a href="mailto:bizdev@starfleet.ventures" style="text-align: center; text-decoration: none; color: white;">
            <mat-icon style="font-size: xx-large;"> mail </mat-icon>
            <p [ngStyle.lt-md]="{'font-size': 'x-small'}" [ngStyle.gt-md]="{'font-size': 'small'}" style="overflow: hidden; white-space: nowrap;">bizdev@starfleet.ventures</p>
        </a>
        
            <div  style="text-align: center;">
                <mat-icon style="font-size: xx-large;">location_on</mat-icon>
                <p [ngStyle.lt-md]="{'font-size': 'xx-small'}" [ngStyle.gt-md]="{'font-size': 'small'}" style="overflow: hidden;">Suite 369, 800-15355 24th Avenue, Surrey, BC, V4A 2H9, Canada</p>
            </div>
        
            
    </div>
</div>

