<div class="footer-container">
    <div style="height: 8.25em;" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
  
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <a href="#" fxFlex="30" style="text-align: center; text-decoration: none; color: white;">
            <mat-icon > mail </mat-icon>
            <p style="font-size: x-small; overflow: hidden; white-space: nowrap;">support@starfleet.com</p>
        </a>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <a href="#" fxFlex="30" style="text-align: center; text-decoration: none; color: white;">
                <mat-icon svgIcon="linkedin">  </mat-icon>
                <p style="font-size: x-small; overflow: hidden; white-space: nowrap;">Find us on Linkedin</p>
            </a>
        

        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
            
                <a href="#" fxFlex="30" style="text-align: center; text-decoration: none; color: white;">
                    <mat-icon svgIcon="twitter">  </mat-icon>
                <p style="font-size: x-small; overflow: hidden; white-space: nowrap;">Follow us on Twitter</p>
                </a>
                
            
        </div>

        <div fxLayout="column" fxLayoutAlign="space-between center">
            <div fxFlex="30" style="text-align: center;">
                <mat-icon >location_on</mat-icon>
                <p style="font-size: xx-small; overflow: hidden; white-space: nowrap;">ABC, XYZ, COUNTRY, PINCODE</p>
            </div>
        </div>
            
    </div>
    <div style="height: 2em;" fxLayout="row" fxLayoutAlign="space-between center">
    <div style="font-size: xx-small;" fxFlexOffset="2.5">
        <p>Starfleet</p>
    </div>
    <div style="font-size: xx-small; margin-right: 2em;">
        <p>All Rights Reserved</p>
    </div>
    </div>
</div>

