<div class="footer-container">
    <div style="height: 14.25em;" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
  
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <div fxFlex="30" class="action-blurb">Footer Content 1</div>
            <div fxFlex="30" class="action-blurb" fxFlexOffset="5">Footer Content 2</div>
            <div fxFlex="column" class="action-blurb" fxFlexOffset="5">Footer Content 3</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <div fxFlex="30" class="action-blurb">Footer Content 4</div>
            <div fxFlex="30" class="action-blurb" fxFlexOffset="5">Footer Content 5</div>
            <div fxFlex="column" class="action-blurb" fxFlexOffset="5">Footer Content 6</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <div fxFlex="30" class="action-blurb">Footer Content 7</div>
            <div fxFlex="30" class="action-blurb" fxFlexOffset="5">Footer Content 8</div>
            <div fxFlex="column" class="action-blurb" fxFlexOffset="5">Footer Content 9</div>
        </div>
            
    </div>
    <div style="height: 2em;" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlexOffset="2.5">
        <p>Starfleet</p>
    </div>
    <div style="margin-right: 2.5em;">
        <p>All Rights Reserved</p>
    </div>
    </div>
</div>

