<div fxLayout="column">
    <mat-spinner [diameter]="40" fxFlexAlign="center" *ngIf="spinner === true"></mat-spinner>
    
<form fxFlexFill (submit)="submit()" *ngIf="spinner !== true || failure !== false">
    <div *ngIf="processedImageUrl !== undefined"fxLayout="row" fxLayoutGap="5px">
        <img fxFlex="50%" id="img" [src]="imageUrl" >
        <img fxFlex="50%" id="img" [src]="processedImageUrl" >
    </div>
    <div *ngIf="processedImageUrl === undefined" id="overlay-1" style="text-align: center;">
        <img fxFlexFill id="img" [src]="imageUrl" >
        <button id="btn-alert"> Submit </button>
    </div>
    
    </form>
</div>
<!-- <div id="main"> -->
   
    