<!-- <p> feature works !!</p> -->
<ngb-carousel
  #carousel
  [interval]="6000"
  [pauseOnHover]="pauseOnHover"
  [pauseOnFocus]="pauseOnFocus"
  (slide)="onSlide($event)"
>
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <!-- <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer"> -->
      <!-- <p *ngFor="let img of images; index as i">{{img}}</p> -->
    <!-- <div  class="fill" ngClass.gt-xs="picsum-img-wrapper"> -->
      <div class="fill">
      <!-- <img fxHide.xs [src]="img.image"  alt="My image {{i + 1}} description"/> -->
      <div class="picsum-img-wrapper">
      <img [src]="img.image"  alt="My image {{i + 1}} description"/>
     </div>

      <!-- <div class="bottom-left">Bottom Left</div>
      <div class="top-left">Top Left</div>
      <div class="top-right">Top Right</div>
      <div class="bottom-right">Bottom Right</div> -->
      <div class="top_heading">
        <h1 [ngStyle.gt-md]="{'font-size': '40px'}" [ngStyle.lt-md]="{'font-size': '36px','white-space':'nowrap'}">{{img.heading}}</h1>
      </div>
      <div class="centered">
        <p style="text-align: left; hyphens: auto;" [ngStyle.gt-md]="{'font-size': '28.5px','line-height':'1.25em'}" [ngStyle.lt-md]="{'font-size': '20px','line-height':'1em'}">{{img.subheading}}</p>
      </div>
    </div>
    <!-- </a> -->
  </ng-template>
</ngb-carousel>