<div fxFlex="12.5%" fxFlex.xs="" fxHide.gt-xs>
  <div style="text-align: center;">
    <h1 [ngStyle.gt-md]="{'font-size': '50px'}">
      A Greener & Efficient Tomorrow
    </h1>
  </div>
  <br><br>
 <br><br>
  <div style="text-align: left; hyphens: auto; margin: 15px;">
    <p [ngStyle.gt-md]="{'font-size': '30px','line-height': '1.05em'}" [ngStyle.lt-md]="{'font-size': '20px','line-height': '1.25em'}"> We at Starfleet are designing AI driven Data visualisation technologies that would contribute in achieving environmental sustainability on a global scale every day. We aspire to provide the Canadian and US industry with AI-based analytics to go green and generate energy in off-grid conditions. Starfleet's unique advantages have put us at the forefront of monitoring forests, oil wells, shipping lanes, and strategic infrastructure.
      As Canada transitions towards a net-zero future, the oil, mining, and forestry sectors will play a crucial role in our green recovery. While Canadian and US industry needs to extract natural resources, we would help them improve their efficiency and enhance environmental performance.
    </p>
  </div>  
  </div>
<div fxHide.xs>
<div fxFlex="12.5%" fxFlex.xs="">
</div>
<div fxFlex fxFlex.xs="">
<div style="text-align: center; white-space: nowrap;">
  <h1 [ngStyle.gt-md]="{'font-size': '50px'}" [ngStyle.lt-lg]="{'font-size': '36px'}">
    A Greener & Efficient Tomorrow
  </h1>
</div>
<br><br>
<br><br>
<br><br>
<div style="text-align: left; hyphens: auto; margin: 15px;">
  <p [ngStyle.gt-md]="{'font-size': '30px','line-height': '1.05em'}" [ngStyle.lt-md]="{'font-size': '24px','line-height': '1.25em'}" [ngStyle.lt-lg]="{'font-size': '32px','line-height': '1.5em'}"> We at Starfleet are designing AI driven Data visualisation technologies that would contribute in achieving environmental sustainability on a global scale every day. We aspire to provide the Canadian and US industry with AI-based analytics to go green and generate energy in off-grid conditions. Starfleet's unique advantages have put us at the forefront of monitoring forests, oil wells, shipping lanes, and strategic infrastructure.
    As Canada transitions towards a net-zero future, the oil, mining, and forestry sectors will play a crucial role in our green recovery. While Canadian and US industry needs to extract natural resources, we would help them improve their efficiency and enhance environmental performance.
  </p>
</div>  
</div>
<div fxFlex="12.5%" fxFlex.xs="">
</div>
</div>