<div fxFlex="25%" fxFlex.xs="" fxHide.gt-xs>
  <div style="text-align: center;">
    <h1 [ngStyle.gt-md]="{'font-size': '50px'}">
      A Greener & Efficient Tomorrow
    </h1>
  </div>
  <br><br>
 <br><br>
  <div style="text-align:justify; text-justify: auto; margin: 15px;">
    <p [ngStyle.gt-md]="{'font-size': '30px','line-height': '1em'}"> We at Starfleet are designing AI driven Data visualisation technologies that would contribute in achieving environmental sustainability on a global scale every day. We aspire to provide the Canadian and US industry with AI-based analytics to go green and generate energy in off-grid conditions. Starfleet's unique advantages have put us at the forefront of monitoring forests, oil wells, shipping lanes, and strategic infrastructure.
      As we transition towards a net-zero future, the oil, mining, and forestry sectors will play a crucial role in our green recovery. While Canadian and US industry needs to extract natural resources, we would help them improve their efficiency and enhance environmental performance.
    </p>
  </div>  
  </div>
<div fxHide.xs>
<div fxFlex="25%" fxFlex.xs="">
</div>
<div fxFlex fxFlex.xs="">
<div style="text-align: center;">
  <h1 [ngStyle.gt-md]="{'font-size': '50px'}">
    A Greener & Efficient Tomorrow
  </h1>
</div>
<br><br>
<br><br>
<br><br>
<div style="text-align:justify; text-justify: auto; margin: 15px;">
  <p [ngStyle.gt-md]="{'font-size': '25px','line-height': '1.05em'}"> We at Starfleet are designing AI driven Data visualisation technologies that would contribute in achieving environmental sustainability on a global scale every day. We aspire to provide the Canadian and US industry with AI-based analytics to go green and generate energy in off-grid conditions. Starfleet's unique advantages have put us at the forefront of monitoring forests, oil wells, shipping lanes, and strategic infrastructure.
    As we transition towards a net-zero future, the oil, mining, and forestry sectors will play a crucial role in our green recovery. While Canadian and US industry needs to extract natural resources, we would help them improve their efficiency and enhance environmental performance.
  </p>
</div>  
</div>
<div fxFlex="25%" fxFlex.xs="">
</div>
</div>