
<mat-card *ngFor="let testimonial of testimonialList" class="card" fxFlex.gt-md="30" fxFlex="calc(33%-25px)" fxFlex.sm="calc(33%-25px)">
  <div>
    <img 
      
      [src]="testimonial.img"
      fxFlexFill
      fxHide.xs
    />
    <img 
      style="width: 200px;"
      [src]="testimonial.img"
      fxHide.gt-xs
    />
    <hr>      
      <h2 style="font-weight: bold;">{{testimonial.name}}</h2>
      <h4 style="font-weight: bold;">{{testimonial.title}}</h4>
    <hr>      

    <mat-card-content>
      <p style="text-align: left; hyphens: auto;">
        {{testimonial.description}}
      </p>
    </mat-card-content>
  </div>  
</mat-card>




