
<mat-card *ngFor="let testimonial of testimonialList" class="card" fxFlex.gt-md="30" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
  <div>
    <img 
      style="clip-path: circle(); width: 200px; margin-bottom: 1em;"
      [src]="testimonial.img"
    />
    <hr>      
      <h2 style="font-weight: bold;">{{testimonial.name}}</h2>
      <h4 style="font-weight: bold;">{{testimonial.title}}</h4>
    <hr fxHide.xs>      

    <mat-card-content>
      <p fxHide.xs style="text-align: justify;">
        {{testimonial.description}}
      </p>
    </mat-card-content>
  </div>  
</mat-card>




