
<mat-card class="card" fxFlex="30">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <br>     
<mat-card-content style="text-align: center;">
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>

    <br>
    <strong style="font-size: 16px;"> Excellent </strong>
</mat-card-content>
      
      <mat-card-content>
        <br>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
</mat-card>
<mat-card class="card" fxFlex="30">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <br>     
<mat-card-content style="text-align: center;">
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>

    <br>
    <strong style="font-size: 16px;"> Excellent </strong>
</mat-card-content>
      
      <mat-card-content>
        <br>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
</mat-card>
