
<app-header></app-header>

<mat-grid-list cols="1" rows="4" rowHeight="40.625rem" gutterSize="0px">
  <mat-grid-tile class="home">
    <app-home fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill></app-home>
  </mat-grid-tile>
  <mat-grid-tile class="about">
    <app-about fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill></app-about>
  </mat-grid-tile>

  <mat-grid-tile class="testimonial">
    <app-testimonial fxLayout="row" fxLayoutAlign="space-around center" fxFill></app-testimonial>
  </mat-grid-tile>
  <mat-grid-tile class="registration">
    <app-registration id="registration"></app-registration>
  </mat-grid-tile>
</mat-grid-list>
<app-footer class="footer"></app-footer>
